.list-row, .list-row-head {
    padding: 4px 0px 4px 0px;
    height: 30px;
    cursor: pointer;
    transition: color .2s;
    -webkit-transition: color .2s;
    font-size: var(--text-md);
}

.like-disabled-input {
    min-height: var(--input-height);
    border-radius: var(--border-radius);
    font-weight: 600;
    padding: 6px 12px;
    cursor: default;
    color: var(--disabled-text-color);
    background-color: var(--disabled-control-bg);
}
