.list-row, .list-row-head {
    padding: 4px 0px 4px 0px;
    height: 30px;
    cursor: pointer;
    transition: color .2s;
    -webkit-transition: color .2s;
    font-size: var(--text-md);
    /* background-color: rgb(9, 201, 147); */
}


.announcement-banner{
    background-color: antiquewhite;
    background-blend-mode: lighten;
    text-align: center;
}
.announcement-text{
    font-size: larger;
    font-weight: bold;
}


.grid-heading-row .grid-row:nth-child(1){
    background-color: #60a5fa;
    color: #ffff;
}
/* Color for all fields */
.control-value.like-disabled-input, 
.frappe-control .ql-editor:not(.read-mode),
input#navbar-search ,
input.input-with-feedback.form-control,
select.input-with-feedback.frappe-control,
textarea.input-with-feedback.frappe-control,
.widget.number-widget-box
{
    background-color: aliceblue;
}

/* text-color */
label.control-label {
    color: darkblue;
}

.grid-row > .row .col
{
    border-bottom: 1px solid #1f272e4f;
}

.like-disabled-input {
    font-weight: 600;
}

.widget.number-widget-box:hover{
    transform: scale(1.05);
    transition: 0.3s;
}